/*
* { 
  margin: 0; padding: 0; 
  box-sizing: border-box;
}
*/
#headbanner { 
   height: 60px;
   background-color: 657071;
   margin-bottom: 15px;
   width: 100%; 
}

#hometext {
   padding-left: 25px;
   padding-right:15px;
   padding-top: 25px;
   margin-right: 200px;
   margin-bottom: 10;
   width:166px;
   float: left;
   margin-left: 20px;
}

#blog {width:100%;}

#footbanner { 
   display:block;
   bottom:0;
   width: 100%;
   height: 65px;
   background-color: 657071;
   border: none;
   margin-top: 15px; 
}

#blank_spacer {}

#fpnav{
   float right;
}
#lineListNav {
   padding-top: 20px;
}

#logo {
   color:white;
   font-size:18pt;
   font-family:tahoma;
   font-weight: 100;
   padding-left: 65px;
   padding-top: 10px;   
}


#line {
   font-size: 8px;
   color:#90887a; 
}



h1.nav {
   font-size: 8pt;
   color:black;
   font-family: tahoma, arial;
   background-color:;   
}

p.lineList {
   font-family: tahoma, arial;
   color: #90887a;
   font-size: 14px;
   font-weight:bold;
}

p.lineListSmall {
   color: #90887a;
   font-size: 11pt;
   font-family: tahoma, arial;
   border-bottom-color: #e4e4e4;
   margin-bottom: 15px;
   padding-bottom: 20px;
   border-bottom: 1px solid #e4e4e4;
   line-height:18px;
}

p.blog {
   padding-bottom: 50px;
   width: 230px; height: 200px; 
   padding-left: 15px;
   float: left;
   font-size: 8pt;
   color: grey; 
}

p.bigblog {
   width: 230px; height: 15px; 
   padding-left: 15px;
   font-size: 10pt;
   color: grey;
}

p.heading {
   color: grey;
   font-size: 12pt;
   font-family: tahoma, arial;
   font-weight: bold;
}


p.contactBigger {
   font-size: 12px;
   line-height: 18px;
   color: #90887a;
   font-family: tahoma, arial;
   font-weight: bold;

}

p.contactSmall {
   font-size: 12px;
   line-height: 18px;
   color: #90887a;
   font-family: tahoma, arial;
   


}

p.footer {
   color: #e4e4e4;
   font-size: 12pt;
   font-family: tahoma, arial;
}

img.blog {
   width: 200px; height: 200px; 
   padding-left: 40px;
   float: left;
}

#main {
   width: 100%;
   height: 60%;
   overflow: visible;
   float: right;
   margin: 0px;
   margin-left: 0px;
}

img.contact {
   width: 100%;
   height: 55%;
   padding: 29px 0px 0px 29px;
   margin-bottom: 80px;
}

img.linelist {
   width: 100%;
   height: 95%;
   float: left;
   padding: 25px 25px 25px 25px;
}
   
a.header {

   color: #d6cec0;
   font-family: tahoma, arial;
   margin-left: 30px;
   font-weight:100;
   font-size:11px;
   text-decoration:none;

}

a.header:active {
   color: white;
}


li.mainPage a:hover {
   color: white;
}

a.header:active {
   color: white;
}

#fpnav{
   list-style-type: none;
   float: right;
}

#fpnav li{
   float: left;
}

#fpnav li a{
   padding: 18px;
   display: block;
   text-align: center;
   text-decoration: none;
   color: #d6cec0;
}

a.lineList {
   font-family: tahoma, arial;
   color: #90887a;
   font-size: 14px;
   line-height: 18px;
   font-weight:bold;
}

a.lineListSmall {
   font-family: tahoma, arial;
   color: #90887a;
   font-size: 12px;
   line-height: 18px;
   
}


li.mainPage {
   display: inline;
   font-style: arial;
           }
li.lineList {
   font-family: tahoma, arial;
   color: #90887a;
   font-size: 14px;
   font-weight:bold;
}



ul {
   list-style-type: none;
}

a, a:hover, a:visited, a:active, a:link {
   text-decoration:none;
}

#search {
   text-align:center;
   margin-top: 150px;
}




/********SEARCH PAGE STYLES************/

#resultsDiv {
   height: 500px;
   border-left: solid;

  
}

#searchDiv {
   height: 500px;
}

.searchButton {
   height: 50px;
   width: 85px;
   padding-right: 50px;
}

div.material {
   display: none;
   visibility: hidden;
}