/*body {
  border: 10px solid white;
}
*/


head { 10px solid white; }

* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}

header {background-color: gray;}

h1.logo {
   width=200%;
   color:white;
   font-size:24pt;
   font-family:arial;
   font-weight: 100;
}

h1.nav {
   text-align: right;
   font-size: 12pt;
}

h2 {

   font-family: arial;
   color: grey;
   font-size: 16pt;

}

img.test { 
      width: 75%; height:60%; align:"right"; 
}

nav { 
   font-family: arial;
   color: white;
   text-align: right;
}

a.header {
   color: white;
   text-align:center;
   font-family: arial;
}

p.heading {
   color: grey;
   font-size: 16pt;
   font-family: arial;
   font-weight: bold;
}

p.normal {
   color: grey;
   font-size: 12pt;
   font-family: arial;
}

p.footer {
   color: white;
   font-size: 12pt;
   font-family: arial;
   background-color: gray;
}
   